:root {
  --clr--primary: rgb(67, 141, 187);
  --clr-dark: black; }

body {
  margin: 0;
  font-family: "Belleza", sans-serif;
  background: rgba(131, 204, 161, 0.918);
  font-weight: 300;
  color: var(--clr-light); }

h1 {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0; }

h3 {
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 2rem; }

.task-list {
  background-color: #eee;
  margin-top: 40px;
  padding: 5px 25px 20px 25px;
  width: 400px;
  margin: auto; }
  .task-list .task-title {
    font-size: 2rem;
    letter-spacing: 2px; }
  .task-list .u-list {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    list-style-type: none; }
    .task-list .u-list li {
      padding: 10px;
      border-bottom: 1px solid grey;
      font-size: 1.5rem; }
  .task-list input {
    padding: 10px 5px;
    outline: none;
    border: none;
    border-bottom: 2px solid #438dbb; }
  .task-list button {
    padding: 8px 15px 8px;
    margin-left: 10px;
    border: none;
    border-radius: 50%;
    outline: none;
    font-size: 1.5rem;
    background-color: #1f435a;
    cursor: pointer; }
    .task-list button:active {
      background-color: #1f435a;
      transform: translateY(1px); }
